* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e0e0e0;
    background-color: #121212;
    line-height: 1.6;
    text-decoration: none;
}

header {
    background-color: #2c2c2c;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #d62828;
    margin: 0 24px;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-list a {
    text-decoration: none;
    color: #cccccc;
    font-weight: 500;
    transition: color 0.3s;

}

.nav-list a:hover {
    text-decoration: none;
    color: #d62828;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

h1,
h2,
h3 {
    color: #ffffff;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
    color: #cccccc;
}

hr {
    border: none;
    border-top: 1px solid #333;
    margin: 1rem 0;
}

.mapa {
    background-color: #2c2c2c;
    border-radius: 12px;
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.mapa h2 {
    font-size: 2rem;
    color: #d62828;
}

.mapa button {
    background-color: #d62828;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.mapa button a {
    color: #ffffff;
    text-decoration: none;
}

.mapa button:hover {
    background-color: #a71d1d;
}

section {
    margin-bottom: 2rem;
}

#servicos a {
    color: #d62828;
    text-decoration: none;
}

#servicos a:hover {
    text-decoration: none;
    transition: 0.3s;
    color: #ffffff;
}

.map-container {
    margin-top: 1rem;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #d62828;
}

footer {
    background-color: #2c2c2c;
    color: #cccccc;
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
}

footer a {
    color: #d62828;
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: none;
    color: #ffffff;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

section,
.text-block {
    background-color: #2c2c2c;
    padding: 2rem;
    text-align: center;
    border-radius: 12px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    line-height: 24px;
    text-decoration: none;
}

h1,
h2,
h3 {
    color: #d62828;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
}

p {
    color: #cccccc;
    margin-bottom: 1rem;
    font-size: 1.05rem;
    line-height: 1.8;
    text-align: center;
}

p strong {
    color: #ffffff;
    font-weight: bold;
}

a {
    color: #d62828;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    text-align: center;
}

a:hover {
    color: #ff4c4c;
    text-decoration: underline;
}

button {
    background-color: #d62828;
    text-align: center;
    color: #cccccc;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;

}

button a {
    color: #ffffff;
    text-decoration: none;
}

button:hover {
    background-color: #a71d1d;
    text-decoration: none;
}

.hero {
    background-color: #2c2c2c;
    padding: 2.5rem 2rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.hero h2 {
    font-size: 2rem;
    color: #d62828;
    margin-bottom: 1rem;
}

.hero p {
    color: #cccccc;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.hero button {
    background-color: #d62828;
    color: #ffffff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero button a {
    color: #ffffff;
    text-decoration: none;
}

.hero button:hover {
    background-color: #a71d1d;
}


.map-container {
    margin-top: 1.5rem;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #d62828;
}